.cnt_ {
  /* width: 1686px; */
  height: 800px;
  /* height: 100%; */
  /* background-color: bisque; */
  display: flex;
  /* align-items: center; */
    justify-content: center;
}
.block_,.block_1 {
  height: 70%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 1px solid black;
  margin-right: 5px;
  flex-direction: column;
  border-radius: 5px;
}
.block_1 {
  width: 100%;
}
.block_:first-child {
  flex-direction: column;
  width: 20%;
}
.block_:nth-child(2) {
  width: 40%;
}
/* .block_:nth-child(3) {
  width: 20%;
} */
.block_:last-child {
  width: 40%;
  margin-right: 0px;
}
.iofield_ {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 20px;
  color: black;
  border: 1px solid black;
  background-color: white;
  border-radius: 16px;

}
.item_ {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  text-align: center;
  margin-bottom: 5px;
  width: 90%;
  color: black;
}
#compare {
  border: 1px solid black;
}

.cont_img {
  width: 10%;
}

.searchInput {
  height: 35px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
  font-size: 15px;
}
.searchInput_ {
  height: 35px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
  font-size: 15px;
  color: black;
}

.green_background {
  background-color: rgb(0, 255, 0) !important;
  color: black;
}

.red_background {
  background-color: red !important;
  /* color: white; */
  color: black;
}

.yellow_background {
  background-color: yellow !important;
  color: black;
}

.aqua_background {
  background-color: aqua;
  color: black;
}
/* --------------------------------table------------------------- */

#div_table_plc_data,
#div_table_import,
#div_table_import_selector{
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

#table_plc_data,
#table_import,
#table_import_selector {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
}
#table_plc_data tr,
#table_import tr,
#table_import_slector tr  {
  cursor: pointer;
}

#table_plc_data tr:hover td,
#table_import tr:hover td,
#table_import_selector tr:hover td  {
  /* background-color: #19cece; */
  background-color: #cccc;
}
#table_plc_data thead th,
#table_import thead th,
#table_import_selector thead th {
  position: sticky;
  top: -1px;
  border: 1px solid black;
}
#table_plc_data th,
#table_import th,
#table_import_selector th  {
  background-color: rgb(255, 211, 17);
  border: 1px solid black;
  padding: 5px 2px;
  font-size: 15px;
  width: 20%;
}
#table_plc_data td,
#table_import td,
#table_import_selector td {
  width: 70px;
  border: 1px solid rgb(0, 0, 0);
  padding: 5px 2px;
  font-size: 15px;
}
/* #table_plc_data td:nth-child(2),
#table_import td:nth-child(2){
  text-align: left;
  padding-left: 10px;
} */

.thanh_trichxuat_sb_error {
  width: 100%;
  height: 86px;
  /* background-color: rgb(255, 255, 255); */
  display: flex;
  /* padding: 15px 30px; */
  padding: 5px;
  justify-content: space-between;
}

.row_flex {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.start_end_sb_error {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin-right: 5px;
}

.lable_sb_error {
  margin-bottom: 5px;
  font-size: 13px;
  /* color: gray; */
  color: black;
}

.dtpk_sb_error {
  font-size: 12px;
  height: 30px;
  border-radius: 6px;
  /* padding: 5px; */
  border: 1px solid rgb(255, 255, 255);
}

.btt_trich_xuat {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  color: rgb(255, 255, 255);
  border: 1px solid;
  height: 35px;
  margin-right: 5px;
  margin-bottom: 0px;
}

.btn_i {
  /* margin-right: 5px; */
  font-size: 15px;
  color: #fff;
}

.btt_blue {
  background: #2f5597;
  margin-right: 0px;
}

.btt_orange {
  background: #fd7e14;
}

.btt_green {
  background: #28a745;
  margin-right: 0px;
}

.lenValue {
  margin-left: 2px;
}

.btt_trich_xuat:hover {
  transform: translateY(-2px);
}
.btt_trich_xuat:active {
  transform: scale(0.95);
}

.btn_page {
  /* background-color: white; */
  border: none;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .prev, .next{
}

.goto {
   
} */

.btn_page:active {
  transform: scale(0.9);
  color: red;
}
.pagination_box {
  display: flex;
  height: 35px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* background-color: #19cece; */
}
.pageNumberInput {
  width: 50px;
  text-align: center;
  border: none;
  background: none;
  /* background-color: white; */
  font-size: 18px;
  border: none;
  font-weight: bold;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.img_loading {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 9999;
  /* width: 60px; */
  width: 10%;
}
.img_loading1 {
  z-index: 9999;
  width: 100%;
}
.xoay {
  width: 35px;
  height: 35px;
  /* background-color: #19cece; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.img_loading {
  animation: spin 2s linear infinite;
}
